{% extends 'base.html' %}
{% block title %}Aadhar verification{% endblock title %}
{% block body %}
<div class="container my-3" >
<h1 class='my-3'>Verify your Aadhar</h1> 
<form action="{% url 'verify' %}" method="POST">{% csrf_token %}
  <div class="mb-3">
    <label for="aadharv" class="form-label">Aadhar</label>
    <input type="number" class="form-control" name='aadharv' id="aadharv" placeholder='Please enter your Aadhar Number' Required>
    {% comment %} <div id="aadhardiv" class="form-text">We'll never share your Aadhar details with anyone else.</div> {% endcomment %}
  </div>

  <div class="mb-3">
    <label for="voterv" class="form-label">Voter ID</label>
    <input type="number" class="form-control" name='voterv' id="voterv" placeholder='Please enter your Voter ID' Required>
    {% comment %} <div id="aadhardiv" class="form-text">We'll never share your Aadhar details with anyone else.</div> {% endcomment %}
  </div>
    <button type="submit" class="btn btn-success">Verify</button>
</form>
</div> 
{% endblock body %}